* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #2d5658;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 50%;
    border: 2px solid  black;
    position: relative;
}


.clock .number {
    --rotation: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    transform: rotate(var(--rotation));
}

.clock .number.number-1 {
    --rotation: 30deg;
}

.clock .number.number-2 {
    --rotation: 60deg;
}

.clock .number.number-3 {
    --rotation: 90deg;
}

.clock .number.number-4 {
    --rotation: 120deg;
}

.clock .number.number-5 {
    --rotation: 150deg;
}
.clock .number.number-6 {
    --rotation: 180deg;
}
.clock .number.number-7 {
    --rotation: 210deg;
}
.clock .number.number-8 {
    --rotation: 240deg;
}
.clock .number.number-9 {
    --rotation: 270deg;
}
.clock .number.number-10 {
    --rotation: 300deg;
}
.clock .number.number-11 {
    --rotation: 330deg;
}


/* ponteiros */
.clock::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.clock .hand {
    --rotation: 0;

    position: absolute;
    bottom: 50%;
    left: 50%; 
    z-index: 10;
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.clock .hand.seconds {
    width: 3px;
    height: 40%;
    background-color: red;
}

.clock .hand.minutes {
    width: 7px;
    height: 35%;
    background-color: black;
}

.clock .hand.hours {
    width: 10px;
    height: 25%;
    background-color: black;
}

/* medias */
@media (max-width: 450px) {
    .clock {
        width: 350px;
        height: 350px;
        margin-left: 50px;
    }

    .clock .hand.seconds {
        width: 3px;
        height: 32%;
        background-color: red;
    }
    
    .clock .hand.minutes {
        width: 6px;
        height: 28%;
        background-color: black;
    }
    
    .clock .hand.hours {
        width: 9px;
        height: 20%;
        background-color: black;
    }
}

@media (max-width: 370px) {
    .clock {
        width: 300px;
        height: 300px;
    }

    .clock .hand.seconds {
        width: 3px;
        height: 32%;
        background-color: red;
    }
    
    .clock .hand.minutes {
        width: 6px;
        height: 28%;
        background-color: black;
    }
    
    .clock .hand.hours {
        width: 9px;
        height: 20%;
        background-color: black;
    }
}